# Godot 4+ specific ignores
.godot/
/android/
# Ignore imported resources. These will make you
# need to import resources by your own!
*.uid

# Ignore IDE/OS specific files
*.DS_Store
.vscode/
.idea/
.vs/

# Ignore temporal files
*.tmp
*.temp

# Ignore our lazy devs' files...
.todo/
project.godot
.editorconfig
Tests/
libyum.dylib
lua/
Yum4Godot.csproj
Yum4Godot.sln
export_presets.cfg
App/
Build/
libraries/